<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Make_Post.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Make_Post.Properties.Settings>
            <setting name="LastPost" serializeAs="String">
                <value>Last Post Coding Test</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>jettsozq</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>server185.web-hosting.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>21098</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>!!242prank1sonyou</value>
            </setting>
        </Make_Post.Properties.Settings>
    </userSettings>
</configuration>